<mat-toolbar class="sn-tool-bar mat-elevation-z9" color="white" >
  <div class="sn-tool-bar-content sn-container">
    <img class="sn-tool-bar-logo" 
         src='../../../assets/img/logo-s.png'
         routerLink="/home" 
    />

    <button class="sn-tool-bar-item" 
            routerLink="/home"
            mat-raised-button 
            color="accent"
            routerLinkActive="active"
    >
      דף הבית
    </button>
    <button class="sn-tool-bar-item" 
            routerLink="/order" 
            mat-raised-button 
            color="accent"
            routerLinkActive="active"
    >
      הזמן
    </button>
    <button class="sn-tool-bar-item" mat-raised-button color="accent">
      שולחן
    </button>
    <button mat-raised-button color="accent">
        אירועים
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="flex-spacer"></span>
    <button class="shopping-basket-button" mat-mini-fab color="accent" aria-label="shopping carts">
      <mat-icon color="primary">
          shopping_carts
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
