<mat-toolbar class="sn-tool-bar mat-elevation-z9" color="white" >
  <div class="sn-tool-bar-content sn-container">
    <img class="sn-tool-bar-logo" src='../../../assets/img/logo-s.png' />
    <button style="margin-left:35px;" mat-raised-button color="primary">
      جعان
    </button>
    <button style="margin-left:35px;" mat-raised-button color="primary">
      قائمة الطعام
    </button>
    <button style="margin-left:35px;" mat-raised-button color="primary">
      حجز طاولة
    </button>
    <button mat-raised-button color="accent">
        مسابقات
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="flex-spacer"></span>
    <button class="shopping-basket-button" mat-mini-fab color="accent" aria-label="shopping carts">
        <mat-icon color="primary">
            shopping_carts
        </mat-icon>
      </button>
  </div>
</mat-toolbar>
