<div class="sn-home">
  <div class="sn-container">
    <div class="sn-home-content">
      <div class="message">
        <div>
          יש סושי,
        </div>
         ויש סנושי
      </div>
      <div class="video-wrapper">
          <video class="video" #videoPlayer loop>
              <source [src]="videoSource" type="video/mp4" />
              Browser not supported
          </video>
      </div>
      <div class="video-action">
        <button color="primary"
                routerLink='order'
                mat-stroked-button
        >
          רעב טילים
        </button>
      </div>
    </div>
  </div>
</div>