@import '../../../saas/common/variables';
.sn-home {
    width: 100%;
    height: calc(100vh - 80px);
    color: white;

    .sn-home-content {
        padding: $padding-xl;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .message {
            // TODO: use var
            font-size: 22px;
            color: $primary-color;
        }

        .video-wrapper {
            margin-top: $margin-l;
            .video {
                width: 100%;
            }
        }
    }
}

