<mat-toolbar class="sn-tool-bar mat-elevation-z9" color="white" >
  <div class="sn-tool-bar-content sn-container">
    <img class="sn-tool-bar-logo" 
         src='../../../assets/img/logo-s.png'
         routerLink="/home" 
    />

    <button class="sn-tool-bar-item" 
            routerLink="/home"
            mat-raised-button 
            color="accent"
            routerLinkActive="active"
    >
      דף הבית
    </button>
    <button class="sn-tool-bar-item" 
            routerLink="/order" 
            mat-raised-button 
            color="accent"
            routerLinkActive="active"
    >
      משלוח
    </button>
    <button class="sn-tool-bar-item" mat-raised-button color="accent">
      שולחן
    </button>
    <button mat-raised-button color="accent">
        אירועים
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="flex-spacer"></span>
    <button class="shopping-basket-button" 
            routerLink="/basket"
            mat-icon-button
            color="accent" 
            
    >
      <mat-icon color="primary"
                aria-label="shopping cart"
                [matBadge]="basketItemsNumber" 
                matBadgePosition="after" 
                matBadgeColor="accent"
      >
          shopping_carts
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
