<div class="sn-order">
  <div class="sn-container">
    <div class="sn-order-content">
      <div class="sn-order-title">
        ראשונות
      </div>
      <div class="sn-order-list">
          <div class="list-item mat-elevation-z11">
            <div class="list-item-cover" [style.backgroundImage]="'url(../../../assets/img/products/fresh-fish.jpg)'">
            </div>
            <div class="list-item-content">
              <div class="flex-spacer">

              </div>
              <div class="list-item-infobar">
                <div>
                  ברוסקטה טונה
                </div>
                <button class="shopping-basket-button" mat-mini-fab color="accent" aria-label="shopping carts">
                  <mat-icon color="primary">
                      add
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="list-item mat-elevation-11">
            2
          </div>
          <div class="list-item mat-elevation-z11">
            3
          </div>
      </div>
    </div>
  </div>
</div>