@import '../../../saas/common/variables';

.sn-order {
    
    margin-top: $margin-xxl;

    .sn-order-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}