@import '../../../saas/common/variables';

.sn-order {
    
    margin-top: $margin-xxl;

    .sn-order-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        .sn-order-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

}