<div class="sn-order">
  <div class="sn-container">
    <div class="sn-order-content">
      <div class="sn-order-section">
        <mat-toolbar class="sn-order-section-toolbar" 
                     color="accent"
        >
          <mat-toolbar-row>
            <span>ראשונות</span>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="sn-order-list">
          <div class="list-item mat-elevation-z11"
               *ngFor="let item of products.starters">
            <div class="list-item-cover" [style.backgroundImage]="'url(../../../assets/img/products/fresh-fish.jpg)'">
            </div>
            <div class="list-item-content">
              <div class="flex-spacer">

              </div>
              <div class="list-item-infobar">
                <div>
                  {{item.name}}
                </div>
                <button class="shopping-basket-button" mat-mini-fab color="accent" aria-label="shopping carts">
                  <mat-icon color="primary">
                    add
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>